html{
    padding: 200px;
    padding-top: 10px;
    
}
body{
    text-align: center;
    text-align: center;
    padding: 150px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: solid 1px black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    text-align: justify;
}
h2{
    margin-top: 20px;
}

footer{
    margin-top: 90px;
}
footer a{
    margin-left: 10px;
}
#images{
    width: 80%;
    height: 200px;
    display: flex;
    margin-bottom: 5px;
}
img{
    width: auto;
    height: 100%;
}
#usertestContent h2{
    margin-top: 35px;

}
#usertestContent p{
    line-height: 23px;
    font-size: 16px;
}
#usertestContent{
    padding:25px;
}