html{
    font-family: 'Irish Grover', cursive;
}
body{
    background-size:1000px;
    background-position-x: center;
    background-position-y: 20px;
    background-repeat: no-repeat;
}
h1{

    color: white;
    font-size: 60px;
}
header{
    text-align: center;
    margin-top: 160px;
    padding-top: 80px;
    left: 450px;
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
}

#myForm{
    width: 160px;
    display: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#myForm input, select{
    margin: 6px;
    margin-left:0;
    margin-right: 0;
    border-radius: 25px;
    border: white solid ;
}

#myForm select{
    width: 98%;
}


#start{
    border-radius: 30px;
    border-width: 2px;
    background: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-family: 'Irish Grover', cursive;
    font-size: 24px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
}

#submit{
    border-color: white;
    background: none;
    border-radius: 30px;
    border-style: solid;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Irish Grover', cursive;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
}
footer{
    margin-top: 160px;
    text-align: center;

}
footer a{
    color: white;
}

#madlib{
    display: none;
    width: 600px;
    text-align: justify;
    color: white;
    font-size: 18px;
}


