body{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
h2{
    font-size: 24px;
}
li{
    list-style-type: none;
    margin-bottom: 4px;
}
ul{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
#container{
    justify-content: center;
    margin: 0 auto;
    max-width: 1366px;
    min-width: 900px;
    padding: 3%;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap; 
    
}
#banner{
    background-image: url("BANNERFinal.png");
    background-size: contain;
}
h1{
    margin: 0;
    padding: 0;
    flex:100%;
}
header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
}
main{
    flex: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-top: auto;
    margin-bottom: 20px;
}
#banner{
    width: 1100px;
    height: 250px;
}
section{
    background-image: url("frame.png");
    background-size: cover;
    width: 400px;
    height: 500px;
}



.letters{
    transform: scale(0.23);
    position: relative ;
}
#L{
    position: relative ;
    top:-274px;
    left:-364px;
    animation: animation3 6s ease-in-out 0s infinite alternate;
}
#O{
    top:-1073px;
    left:-182px;
    animation: animation3 6s ease-in-out 0.2s infinite alternate;
}
#U{
    top:-1878px;
    left: -2px;
    animation: animation3 6s ease-in-out 0.4s infinite alternate;
}

#I{
    top: -2683px;
    left:180px;
    animation: animation3 6s ease-in-out 0.8s infinite alternate;
}
#S{
    top: -3480px;
    left:360px;
    animation: animation3 6s ease-in-out 1s infinite alternate;
}
#banner:hover{
    animation: bannerbackground 8s linear infinite alternate;
    
}

footer a{
    margin-right: 12px;
}

@keyframes bannerbackground{
    0%{
        background-image: url("BANNERFinal.png");
    }
    33%{
        background-image: url("BANNERFinal2.png");
    }
    66%{
        background-image: url("BANNERFinal3.png");
    }
}
@keyframes animation3{
    0%{
        transform: scale(0.23) rotateY(0deg);
    
    } 
    25%{
        transform: scale(0.23) rotateY(90deg) ;
        
    } 
    50%{
        transform: scale(0.23) rotateY(180deg);
        
    } 
    75%{
        transform: scale(0.23) rotateY(270deg)  ;
       
    } 
    100%{
        transform: scale(0.23) rotateY(360deg)  ;
        
    } 
}